html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  height: 100%;
}
.grid-container {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #203040;
}

main {
  grid-area: main;
  padding: 1rem;
}

footer {
  grid-area: footer;
  background-color: #333;
  color: white;
}

/* common */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
a {
  text-decoration: none;
}
header a {
  color: white;
  padding: 1rem;
}
a:hover {
  color: darkorange;
}
a.brand {
  font-size: 3rem;
  font-weight: bold;
}

ul{
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li{
  margin-top: 1rem;
}

.success{
  color: green;
}

.error{
  color: red;
}
.row {
  display: flex;
  flex-wrap: wrap; /*to make responsive so if no space for item it will be on new line */
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

.row.top{
  align-items: flex-start;
}
.col-1{
  flex:1 1 25rem;
}
.col-2{
  flex:2 1 50rem;
}

button{
  padding: 1rem;
  border: 0.1rem solid #f0f0f0;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button.primary{
  background-color: #f0c040;
}

button.block{
  width: 100%;
}

button:hover{
  border: 0.1rem solid #333;
  background-color: #f5bc20;
}

/* image */
img {
  border-radius: 0.5rem;
}

img.medium {
  max-width: 29rem;
  width: 100%;
}

img.large{
  width: 100%;
}

/* card */
.card {
  margin: 1rem;
  border: 0.1rem #333 solid;
  border-radius: 0.5rem;
  background-color: #f0f0f0;
}

.card-body {
  padding: 0.5rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}

.rating span{
    color:#e4d01c;
    margin: 0.1rem;
}
